*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-container{
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;

}
.header{
  /* background-color:#9a8b27; */
  background-color: rgba(236, 233, 233, 0.9) ;
  width: 100%;
  height: 60px;
  overflow: auto;
  position: fixed ;
  top: 0 ; 
  left: 0;
  z-index: 10;
 
}

.div5 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image:url(../7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overley {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba( 0,0 , 0, 0.2) ;
}

.content {
  /* background-color: #0954ec; */
  width: 60%;
  /* hero image  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%  , -50%  );
  text-align: center;
}
.title10 {
  color: #fff;
  font-size: 90px;
}

.p10 {
  color: #f0f0f0;
  letter-spacing: 3px ;
  margin: 15px  0px;
  font-size: 20px;
}

.btn {
  width: 135px;
  height: 47px;
  border-radius: 6px;
  border: 0;
  font-size: 17px;
  text-transform: capitalize;
  margin-right: 12px;
  background-color: #f78602;
  color: #fff;
  padding: 15px;
}
.content-button{
  width: 135px;
  height: 47px;
  border-radius: 6px;
  border: 0;
  font-size: 17px;
  text-transform: capitalize;
  margin-right: 12px;
  background-color: #f78602;
  color: #fff;
  padding: 15px;
}
.content-button:hover{
  /* opacity: 0.8; */
  background-color: #9a8b27;
  color: #fefdfd;
}



.logo img{
  position: absolute;
  float: left;
  margin-left: 30px;
  z-index: 1;
}

.list{
  list-style-type: none ;
    float: right;
    margin-right: 300px;

}
.list li{
  display: inline-block ;
  margin-left: 60px;
  font-size: 20px;
  color: rgb(65, 67, 67);
}
.list li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  
 
}
.list li a:hover{
text-decoration: underline;
  color: #f78602;

}
.hero{
  position: relative;
  width: 100vw;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;



  
} 
.btn:hover {
  opacity: 0.8;
  background-color: #9a8b27;
  color: #fefdfd;
}
.section1{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
height: auto;
  
}

.left{
 
  width: 40%;
  float: left;
}
.f{
 font-size: 45px;
 margin-top: 70px;
margin-left: 350px;
color: #f78602;
}

.in{
 font-size: 45px;
 margin-left: 20px;
 color: #f78602;
 }
 .t{
 font-size: 45px;
 margin-left: 20px;
 color:#f78602;
 }
 .pant{
  font-size: 45px;
 margin-left: 20px;
 color: #f78602;
 }

.right{
 
  width: 60%;
  float: right;
}

.section1 h1{
  
  margin-left: 300px;
 margin-top: 50px;
  font-size: 50px;
  /* background-color: #f78602; */
}

.right p{
padding-left: 40px;
margin-right: 400px;
font-size: 25px;
}
.section2{

  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.header2{
  height: auto;
  text-align: center;
  font-size: 40px;
 
  /* border: #000 1px solid; */
  
}
.line{
  width: 70px;
  height: 5px;
  background-color:  #f78602;
  margin: auto;
  margin-top: -24px;
}
.crad{
  
  margin-top: 10px;
  width:100%;
  margin: auto;
  overflow: auto;
  height: auto;

}
.card1{
  position: relative;
  width: 30%;
  height: 650px;
  border: solid black 1px;
  float: left;
  /* margin-top: -40px; */
  /* margin-top: 10px; */
  margin-left: 3%;
  background-color: #ffffff;
  position: relative;
}
.card1::before {
  position: absolute;
  content: "";

  width: 0 ;
  height: 0;

  top: 0;
  left: 0;

  background-color: rgb(0, 0, 0) ;
  opacity: 0;
  transition: 1s;
}
.card1:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}
.sec2{
  font-size: 20px;
}

.card-details{
  overflow: auto;
  margin: 20px 0px 0px 20px;
}
.card-details .details{
  float: left;
  margin-right: 40px;

}
.card-details .details i{
  color: #f78602;
}
.card2{
  position: relative;
  width: 30%;
  height: 650px;
  border: solid black 1px;
  float: left;
  /* margin-top: 20px; */
  margin-left: 2%;
  margin-right: 2%;
  background-color: #ffffff;
}
.card2::before {
  position: absolute;
  content: "";

  width: 0% ;
  height: 0;

  top: 0;
  left: 0;

  background-color: rgb(0, 0, 0) ;
  opacity: 0;
  transition: 1s;
}
.card2:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}

.card3{
  position: relative;
  width: 30%;
  height: 650px;
  border: solid black 1px;
  margin-right: 3%;
  /* margin-top: 20px; */
  float: left;
  background-color: #ffffff;
}
.card3::before {
  position: absolute;
  content: "";

  width: 0% ;
  height: 0;

  top: 1;
  left: 0;

  background-color: rgb(0, 0, 0) ;
  opacity: 0;
  transition: 1s;
}
.card3:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}
.n{
  margin-left: 30px;

}
.WHO-ARE-WE{
  width: 100%;
  margin: auto;

}

.card-section3{
  margin-top: 50px;

  overflow: auto;
}
.card1-section3{
  width: 400px;
  height: 450px;
  border: solid black 1px;
/*   
  float: left; */
  margin-left: 170px;
  margin-right: 50px;
}
.card1 p{
  padding: 10px;
  font-size: 30px;
}
.card2 p{
  padding: 10px;
  font-size: 30px;
}
.card3 p{
  padding: 10px;
  font-size: 30px;
}
.card2-section3{
  width: 400px;
  height: 450px;
  border: solid black 1px;
  margin-right: 50px;
  
}

.container {
  width: 90%;
  margin: auto;
  border: #03045E;
}
.container-header2{
font-size: 40px;
text-align: center;
margin-top: 80px;
}
.team-item {


  display: block;
  float: left;
  width: 30%;
  background-color: #d1caca;
  padding: 17px 13px;
  text-align: center;
  position: relative;


  /* float: left;
  background-color: rgb(255, 255, 255);
  width: 30%;
  text-align: center;
  height: 400px;
 border: #9a8b27 1px solid; */
}
.team-item::before {
  position: absolute;
  content: "";

  width: 0 ;
  height: 0;

  top: 0;
  left: 0;
  

  background-color: rgb(0, 0, 0) ;
  opacity: 0;
  transition: 1s;
}
.team-item:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}
.team-item2 {
  float: left;
  background-color: rgb(187, 187, 187);
  width: 30%;
  
  text-align: center;
  height: auto;
}
.w{
  margin-left: 3%;
  margin-top: 20px;
}
.ww {
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
}
.www {
  margin-top: 20px;
  margin-right: 3%;
}
.team-img {
  width: 90%;
  margin: auto;
  position: relative;
  /* height: 200px; */
}
.team-img  img {
  width: 100%;
 

}

.team-overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden; 
  transition: 1s ;  
 
 
}
.team-item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0;
}
.team-item:hover  .team-overley {
  opacity: 0.6 ;
  visibility: visible;
}
.team-overley a {
  display: block;
  width: 40px;
  height: 40px;
  background-color:   #f19364;;
  color: #343131;
  font-size: 23px ;
  margin-left: auto ;
}
.team-overley  a  i {
  line-height: 40px ;
  color: #9a8b27;
}



.team-info-title {
  text-transform: uppercase;
  padding: 12px  0px;
  color: rgb(58, 58, 58);
}
.team-info-sp1 {
  
  text-transform: capitalize;
  color: grey;
}
.team-item:hover  .team-info-title {
  color: #fff;
}
.team-item:hover  .team-info-sp1 {
  color: #f78602;
}
.section4{
  position: relative;
  overflow: auto;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.section4-header2{
  height: auto;
  text-align: center;
  padding-bottom: 0px; 
  margin-top: 40px;
  /* padding-top: 20px; */
   font-size: 40px;
}
.section4 .line{
  
}

.LOOKING{
position: relative;
float: left;
width: 30%;
height: 250px;
border: #1c1c1c 1px solid;
padding-top: 50px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}


.LOOKING::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0) ;
  opacity: 0;
  transition: 1s;
}
.LOOKING:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}

.icon{
  width: 15%;
 text-align: left;
 padding-left: 15px;
 margin-top: -10px;
}
.icon i{
  font-size: 30px;
  color: #f78602;
}
.a{
  font-size: 30px;
  color: #f78602;
}
.title-LOOKING{
width: 85%;
float: right;
text-align: start;

}
.title-LOOKING2{

  width: 85%;
  float: right;
  text-align: start;
  }
.title-LOOKING h1{
  margin-top: -50px;

color: #040404;
font-size: 40px;

}
.title-LOOKING p{
  color: #1f1f1f;
  font-size: 20px;

}
 
  .LOOKING  i{
    font-size: 50px;
  }
  .section8{
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .parallax{
    background-image: url(../Blackwater-Falls-State-Park.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px; 
  }
  .section8-overley{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba( 0,0 , 0, 0.5) ;
    }
    .section8-content{
      width: 90%;
      height: auto;
      margin-left: 5%;
      margin-right: 5%;
      /* background-color: #0b0c0c; */

    }
    .section8-icon{
      /* background-color: #7b7a7a; */
      display: inline-block;
      margin-top: 10%; 
      margin-left: 16%;

    }
    .section8-icon i{
   
      font-size: 60px;
      color: #ffffff;
    }
    .section8-icon h1{
      color: #ffffff;
      text-align: center;
    }
    .section8-icon p{
      color: #fcfcfc;
      font-size: 20px;
      text-align: center;
    }
     .section5{
      position: relative;
      width: 100%;
      height: auto;
    }
    .section5-overley{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: rgba( 0,0 , 0, 0.5) ;
      }
    .section5-content1{
      overflow: auto;
      width: 90%;
      height: auto;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 10%;
    }
    .section5-Left{
    
      float: left;
      width: 50%;
      height: 300px;
      color: #fff;
      text-align: center;
    }
    .img-section5-Left{
      float: left;
    }
    .span{
      display:inline-block;
      font-size: 22px;
      margin: 30px;
      color: #fefeff;
      float: left;
    }
    
    .span p{
    margin: 20px 40px;
    
    
    }
    .r p{
      margin: 20px 130px;
    }  
    .section5-Left1{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .section5-Right{
    float: left;
    width: 50%;
    height: 300px;
    color: #fff;
    }
    .section5-Right1{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      
    }
  .price{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
   height: 700px;
  }
  .table{
  position: absolute;
  overflow: auto;
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;

  }
  .div1{
  text-align: center;
  color: #0b0c0c;
}
.line{
  display: block;
  width: 62px;
  height: 4px;
  background-color: #f78602;;
  margin: 5px auto 70px auto;

}
.div2{
  position: relative;
  border: 1px solid rgb(36, 37, 37);
  width: 30%;
  height: 500px;
  float:left;
  margin-left: 3%;
  text-align: center;
  margin-bottom: 50PX;
 
}
.div2::before {
  position: absolute;
  content: "";

  width: 100% ;
  height: 0;

  bottom: 1;
  left: 0;

  background-color: rgb(0, 0, 0) ;
  opacity: 0;
  transition: 1s;
}
.div2:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}


.card_title{
  font-size: 30px;
 text-align: center;
 margin-top: 20px;
  color: rgb(14, 10, 10);
}
.circle2{
  
  margin: auto;
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border: 2px solid #9a8b27;
  border-radius: 50%;
}
.div2:hover{
  color:#9a8b27;
}
.p2{

 text-align: center;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-top: auto;

  padding-top: 20px;
}
.p22{

  text-align: center;
   font-size: 22px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   margin-top: 5px;

   
 }
 .card_body{
text-align: center;
font-size: 20px;
 }
 .div2 .button{
  width: 135px;
  height: 47px;
  border-radius: 6px;
  border: 0;
  font-size: 17px;
  text-transform: capitalize;
  margin-right: 12px;
  background-color: #f78602;
  color: #fff;
  padding: 15px;
  
  /* font-size: 15px;
  border:2px solid #9a8b27;
  margin:0 auto;
  margin-top: 50px;
  width: 150px;
  height: 40px;
 
  background-color:  #f78602;;
  */
 } 
 .div2 .button:hover{
  background-color: #9a8b27;
 }
.div3{
  position: relative;
  border: 1px solid rgb(36, 37, 37);
  width: 30%;
  height: 450px;
  float:left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 50PX;
  margin-bottom: 50PX;
}

.div3::before {
  position: absolute;
  content: "";

  width: 100% ;
  height: 0;

  bottom: 1;
  left: 0;

  background-color: rgb(0, 0, 0) ;
  opacity: 0;
  transition: 1s;
} 

.section6{
  width: 100%;
  height: auto;
}
.bac-section6{
  position: relative;
  overflow: auto;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 30px;
 
  

}
.section6-overley::after{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.section6-overley:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}
.img-card-section6{
  width: 30%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
}
.card-section6{
float: left;
height: 500px;
width: 25%;
background-color: #9a8b27;
margin-left: 5%;
margin-top: 30px;

padding: 0px 10px 10px 0px;

}

.card-section6{
  float: left;
height: 500px;
width: 25%;
background-color: #9a8b27;
margin-right: 2.5%;
margin-left: 2.5%;

}
.card-section6{
  float: left;
height: 500px;
width: 25%;
background-color: #9a8b27;
margin-left: 5%;

}
.bac2-section6{
  overflow: auto;
  width: 90%;
  height: auto;
  background-color: #777778;
  margin: auto;
  margin-top: 30px;
 
  
}

.service {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  margin-top: 300px;
}
.pd-y {
  padding: 200px 0;
}


div {
  display: block;
}
body {
  font-family: 'varela round' , sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}



.service-item {
  width: 50%;
  float: left;
}

.service-item .section-header {
  text-align: left;
}

.section-header {
  text-align: center;
}
.service-item .section-header .line {
  margin: 0 0 45px 0;
}

.section-header .line {
  display: block;
  width: 62px;
  height: 4px;
  background-color:  #f78602;;
  margin: 0 auto 70px auto;
}
.service-item-desc {
  padding-right: 20px;
  color: #000000;
  line-height: 1.4;
  font-size: 20px;
  margin-bottom: 20px;
}


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.service-list {
  list-style: none;
}

.service-list li i {

  border: 1px solid  #f78602;;
  color:   #f78602;;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  /* font-size: 20px; */
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.service-bullets {

  /* list-style: none; */
  text-align: center;
 
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.service-list li {
 font-size: 20px;
  margin-bottom: 13px;
  color: #050505;
}



li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.service-list {
  list-style: none;
}

ul {
  list-style-type: disc;
}
.portfolio {
  background-color: #e8e8e8;
}
.pd-y {
  padding: 120px 0;
}


div {
  display: block;
}

.section-header {
  text-align: center;
}
.container {
  width: 80%;
  margin: auto;
}
.portfolio-content {
  overflow: hidden;
}

.portfolio-item {
  width: 30%;
  float: left;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
}

.element.style {
}

.clear {
  clear: both;
}
.section-header .section-title {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 9px;
  margin-top: 6px;
}


.section-header .line {
  display: block;
  width: 62px;
  height: 4px;
  background-color:  #f78602;;
  margin: 0 auto 70px auto;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .layer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
.layer-content .layer-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%,-50%);
  text-align: center;
}


.layer-content .category {
  color: #6195ff;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  position: relative;
  top: 15px;
  transition: top 1s ,opacity .5s;
  transition-delay: 0;
}
.layer-content-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  top: 15px;
  transition: top 1s ,opacity .5s;
  transition-delay: .4s;
}
.layer-content a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #6195ff;
  position: relative;
  top: 15px;
  
  transition: top 1s ,opacity .5s;
  transition-delay: .6s;
}
a {
  text-decoration: none;
}



.layer-content a i {
  line-height: 40px;
}

.layer-content a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #6195ff;
  position: relative;
  top: 15px;
  transition: top 1s ,opacity .5s;
  transition-delay: .6s;
}

.fa-edit:before {
  content: "\f044";
}
.portfolio-item.mg {
  margin: 0 5%;
}
.portfolio-item {
  width: 30%;
  float: left;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
}
.layer-content a i {
  line-height: 40px;
}


a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}


.portfolio-item:hover .layer-content {
  opacity: 1;
  visibility: visible;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.layer-content a i {
  line-height: 40px;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}


i {
  font-style: italic;
}




.portfolio {
  background-color: #e8e8e8;
}
.pd-y {
  padding: 120px 0;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fa-edit:before .fa-pencil-square-o:before {
  content: "\f044";
}
.fa-search:before {
  content: "\f002";
}
.service-bullets li.active {
  background-color: #6195ff;
}
.service-bullets li {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #a8a8a8;
  margin: 10px 5px;
  border-radius: 50%;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.service-bullets {
  list-style: none;
  text-align: center;
}

 .footer_title{
  
  text-align: center;
  color:#03045E;
  margin-top: 5px;
} 

.footer_title:hover{
  color: #f8fafa;
  }
  
 .footer {

  background-color:  rgba(236, 233, 233, 0.9);
  text-align: center;
  height: 300px;
  padding: 60px 0;
}

element.style {
}
.mmg {
    width: 200px;
    height: 90px;
}

/* img[Attributes Style] {
    -webkit-user-drag: none;
} */

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.footer-links {
  list-style: none;
  margin: 20px 0;
}
.footer-links li a {
  display: inline;
  width: 100%;
  height: 100%;
  color: #6195ff;
  color: #f19364;
  /* line-height: 50px; */
  padding-top: 15px;
  padding-right: 15px;
  font-size: 40px;
  margin: 0 8px;
}
a {
  text-decoration: none;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
li {
  text-align: -webkit-match-parent;
}
.footer-links {
  list-style: none;
  margin: 20px 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer-links li:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: .3s;
  background-color: #0954ec;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0%;
  bottom: 0;
}
.fa-brands:hover{
  background-color: #fdfdfd;
}
.footer-links li {
  display: inline;
  text-align: -webkit-match-parent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.footer p {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


